/ Main component
%div
  %form
    .form-group
      %input.form-control
    .form-group
      %input.btn.btn-success{type: "submit", value: "Add Todo"}
      %button.btn.btn-default Clear Completed
%ul
  %li
    / Todo item
    %input{ type: "checkbox", value: "1", id: "todo_completed"}
    %label{ for: "todo_completed" }
      Lorem ipsum dolor sit amet
  %li
    %input{ type: "checkbox", value: "1", id: "todo_completed"}
    %label{ for: "todo_completed" }
      Lorem ipsum dolor sit amet
  %li
    %input{ type: "checkbox", value: "1", id: "todo_completed"}
    %label{ for: "todo_completed" }
      Lorem ipsum dolor sit amet

/ Todo item
/ value =
/   if @props.todo.complete then "1" else "0"

/ <input type="checkbox"
/       value={value}
/       id="todo_completed"/>
/ <label htmlFor=“todo_completed”>{@props.todo.text}</label>
