/ Home non-logged-in
.center.jumbotron
  %h1
    Masatoshi's App
    .small Moving estimator
    .small To-do list

.center
  = link_to "Contact me", "#", class: "btn btn-lg btn-success"

= render "shared/about_author"

-# Responds to clicking on unused social buttons.
:coffee
  $('#btn-facebook').click ->
    alert 'Sorry, I don\'t have a Facebook account.'
    return
