/ Home non-logged-in
.jumbotron
  %h1.center
    Masatoshi's Lab
  %p.gray-narrow.center
    Hello, this is Masatoshi Nishiguchi.
    %br
    I am planning to add some useful applications here.

= render 'shared/inventory'

= render "shared/about_author"

.col-xs-12
  .center
    = link_to "Contact me", contact_path, class: "btn btn-lg btn-success"

-# Responds to clicking on unused social buttons.
:coffee
  $('#btn-facebook').click ->
    alert 'Sorry, I don\'t have a Facebook account.'
    return
