/ Home non-logged-in
.jumbotron
  .center
    %h1
      Masatoshi's Lab
    %h2
      Hello, this is Masatoshi Nishiguchi.
      I am planning to add some useful applications here.

= render 'shared/inventory'

= render "shared/about_author"

.col-xs-12
  .center.box
    = link_to "Contact me", contact_path, class: "btn btn-lg btn-success"
