/ Home non-logged-in
.center.jumbotron
  %h1
    Masatoshi's App
    .small Moving estimator
    .small To-do list

%a{ href: 'https://github.com/mnishiguchi', target: '_blank' }
  =image_tag "114x114_masa_chinatown.png", alt: "Masa"

%ul.list-unstyled.list-inline.list-social-icons
  %li#btn-facebook
    %a{ href: "#" }
      %i.fa.fa-facebook-square.fa-2x
  %li
    %a{ href: "https://www.linkedin.com/profile/view?id=101724080", target: '_blank' }
      %i.fa.fa-linkedin-square.fa-2x
  %li
    %a{ href: "https://twitter.com/MNishiguchiDC", target: '_blank' }
      %i.fa.fa-twitter-square.fa-2x
  %li#btn-google
    %a{ href: "#" }
      %i.fa.fa-google-plus-square.fa-2x

-# Responds to clicking on unused social buttons.
:coffee
  $('#btn-google').click ->
    alert 'Sorry, I am not an active Google+ user.'
    return
  $('#btn-facebook').click ->
    alert 'Sorry, I don\'t have a Facebook account.'
    return
