/ Home non-logged-in

%h2.jumbotron.center
  Welcome to Masatoshi's Lab

.ul.center.list-group
  .li.list-group-item Moving estimator
  .li.list-group-item To-do list
  .li.list-group-item Translator emailor

.center
  = link_to "Contact me", contact_path, class: "btn btn-lg btn-success"

= render "shared/about_author"

-# Responds to clicking on unused social buttons.
:coffee
  $('#btn-facebook').click ->
    alert 'Sorry, I don\'t have a Facebook account.'
    return
