/ Home non-logged-in

%h2.jumbotron.center
  Welcome to Masatoshi's Lab

.p.center.box
  Here I am planning to add some useful applications such as
  a moving estimator with which you can estimate the volume of your stuff before moving.

.center
  = link_to "Contact me", contact_path, class: "btn btn-lg btn-success"

= render "shared/about_author"

-# Responds to clicking on unused social buttons.
:coffee
  $('#btn-facebook').click ->
    alert 'Sorry, I don\'t have a Facebook account.'
    return
