/ Home non-logged-in
.jumbotron
  .center
    %h1
      Masatoshi's Lab
    %h2
      Hello, this is Masatoshi Nishiguchi.
      I am planning to add some useful applications here.

.panel.panel-green
  .panel-heading Todo list
  .panel-body
    #react_mountPoint

.panel.panel-red
  .panel-heading Todo list
  .panel-body
    =render 'experiment_todolist'

= render 'shared/inventory'

= render "shared/about_author"
