/ Home non-logged-in
.jumbotron
  .center
    %h1
      Masatoshi Nishiguchi
    %h2
      I am planning to add some useful applications here.

= render 'shared/inventory'
= render "shared/about_author"
