- content_for(:javascript) do
  :coffeescript
    jQuery -> new Namespace.Charts()

.panel.panel-blue
  .panel-heading
    .row
      .col-xs-3
        .fa.fa-home.fa-5x
        .fa.fa-truck.fa-3x
      .col-xs-9.text-right
        .huge= "Total: #{@total_volume}"
        cubic feet
  .panel-body
    .row.text-center
      .col-sm-6
        = react_component 'BarChartComponent', { name: "MovingBarChart",
          data: @dataForBarChart, height: 200, width:  400 }
      .col-sm-6
        = react_component 'PieChartComponent', { name: "MovingPieieChart",
          data: @dataForPieChart, height: 200, width:  200 }
