.table-responsive{ style: "margin-bottom: 0;" }
  %table.table.table-hover{ style: "margin-bottom: 0;" }
    %thead
      %tr
        %th{ colspan: "4" }
    %tbody
    - @movings.each do |m|
      %tr{ style: "border-bottom: 1px solid #ddd;" }
        %td.col-sm-3
          %strong= link_to truncate(m.title), moving_path(m)
        %td.col-sm-9
          %i= truncate(m.description, length: 100)
        %td
          = link_to fa_icon("fa pencil", text: "edit"), edit_moving_path(m),
            class: "btn btn-sm btn-default"
        %td
          = link_to fa_icon("fa trash", text: "delete"), moving_path(m),
          method: :delete, data: { confirm: "Are you sure?" },
            class: "btn btn-sm btn-default "
