.table-responsive
  %table.table.table-bordered.table-hover.table-striped
    %thead
      %tr
        %th.text-center category
        %th.text-center volume
    %tbody
      - @vol_by_category.each do |category, volume|
        %tr.text-center
          %td= category
          %td= volume
