- provide(:title, "My movings")

%h1.page-header My movings

%ol.breadcrumb
  %li= link_to "Dashboard", root_path, :"data-no-turbolink" => true
  %li.active My movings

.list-group
- @movings.each do |m|
  .list-group-item
    = link_to m.title, moving_path(m)
    = link_to "delete", moving_path(m), method: :delete,
                        data: { confirm: "Are you sure?" },
                        class: "btn btn-xs btn-danger pull-right"
