.panel.panel-green.box.col3
  .panel-heading
    .media
      .avatar-wrapper.media-left.media-middle.pull-left
        = gravatar_for("nishiguchi.masa@gmail.com")
      .info-wrapper.media-body
        %h4.media-heading
          Masatoshi Nishiguchi
        %ul.list-unstyled
          %li
            %i.fa.fa-map-marker
            Washington, DC
          %li
            %i.fa.fa-birthday-cake
            = Faker::Time.between(2.days.ago, Time.now, :day).strftime('%b %d, %Y')
  .person_sentence.panel-body
    %i
      = Faker::Lorem.sentence(3)
  .contact-info.panel-footer
    %ul.list-unstyled
      %li
        %i.fa.fa-envelope
        = Faker::Internet.free_email
