#PeopleSection.well
  #PeopleSearch
    .filter-wrapper.panel.panel-default
      .panel-body
        .form-wrapper
          %form
            #ResetButton
            %input{type: "text", placeholder: "people search"}

  .PaginatorSection

  .cards-wrapper
    #cardsNode
      #masonry-container-people.transitions-enabled.centered.clearfix.masonry.masonry-brick
        - 9.times do
          = render 'experiment_person_card'

  .PaginatorSection
