.filter_wrapper{ style: "margin-bottom: 20px;" }
  = form_for @search, url: users_path, html: {method: :get}, class: "form-horizontal" do |f|
    .form-group
      .input-group
        = f.search_field :q, class: "form-control"
        %span.input-group-btn
          = f.button fa_icon("search"), class: "btn btn-default"
