#PeopleSection.well
  #PeopleSearch
    .filter-wrapper
      .form-wrapper
        %form
          #ResetButton
          %input.form-control{type: "text", placeholder: "people search"}

  .PaginatorSection
    = will_paginate @users

  .cards-wrapper
    #cardsNode
      #masonry-container-people.transitions-enabled.centered.clearfix.masonry.masonry-brick
        - @users.each do |user|
          = render 'user', user: user

  .PaginatorSection
    = will_paginate @users
