- provide(:title, "All users")

%h1.page-header
  All users
%p
  Download:
  = link_to "CSV", users_path(format: "csv")

#people_cards

  = render 'people_filter'

  .cards_wrapper
    - @users.each do |user|
      = render 'user', user: user
  = will_paginate @users
