- provide(:title, "All users")

%h1.page-header
  All users
%p
  = link_to "CSVダウンロード", users_path(format: "csv"), class: "btn btn-warning"

#people_cards

  = render 'people_filter'

  .cards_wrapper
    - @users.each do |user|
      = render 'user', user: user
  = will_paginate @users
