- provide(:title, "Dashboard")

-# 'users#show'

%h1.page-header
  Dashboard
  %small
    = current_user.email

.row
  .col-sm-3#dashboard_menus
    %ul.nav.nav-pills.nav-stacked
      %li.active{ role: "presentation" }
        %a{ href: "#"} New moving
      %li{ role: "presentation" }
        %a{ href: "#"} My movings

  .col-sm-9#dashboard_body
    #react_todolist

:coffee

  $(document).on "page:change", ->
    React._initTodoApp(todos: #{ @todos })
