- provide(:title, "Ingredients editor")

%h2.page-header.center
  Edit ingredient suggestions

.well
  #IngredientSuggestionsEditor

:coffee

  $(document).on "page:change", ->
    loadIngredientSuggestionsEditor(#{@ingredients})
