- provide(:title, "Ingredients editor")

%h2.page-header.center Ingredients editor
  Edit ingredient suggestions

.well
  #IngredientSuggestionsEditor

:coffee

  $(document).on "page:change", ->
    window.loadIngredientSuggestionsEditor(#{@ingredients})
