- provide(:title, "Ingredients editor")

%h2.page-header.center
  Edit ingredient suggestions

.well
  #react_ingredient_editor

:coffee

  $(document).on "page:change", ->
    React._initIngredientEditorApp(ingredients: #{@ingredients})
