%h1 Edit ingredient suggestions
%p Find me in app/views/ingredient_suggestions/index.html.haml

.well
  #IngredientSuggestionsEditor

:coffee

  $(document).on "page:change", ->
    window.loadIngredientSuggestionsEditor(#{@ingredients})
