#author.panel.panel-primary.col-xs-12.col-sm-6.col-md-8.col-sm-offset-3.col-md-offset-2
  .center
    %a{ href: 'http://masatoshinishiguchi.blogspot.com/', target: '_blank' }
      = gravatar_for "nishiguchi.masa@gmail.com", size: 120
    %p
      %i.fa.fa-envelope-o
      = succeed ":" do
        %abbr{ title: "Email" } E
      %a{ href: "mailto:masatoshi.nishiguchi@udc.edu"} masatoshi.nishiguchi@udc.edu

    %ul.list-unstyled.list-inline.list-social-icons
      %li#btn-facebook
        %a{ href: "#" }
          %i.fa.fa-facebook-square.fa-2x
      %li
        %a{ href: "https://www.linkedin.com/profile/view?id=101724080", target: '_blank' }
          %i.fa.fa-linkedin-square.fa-2x
      %li
        %a{ href: "https://twitter.com/MNishiguchiDC", target: '_blank' }
          %i.fa.fa-twitter-square.fa-2x
      %li
        %a{ href: 'https://github.com/mnishiguchi', target: '_blank' }
          %i.fa.fa-github-square.fa-2x
      %li
        %a{ href: 'https://bitbucket.com/mnishiguchi', target: '_blank' }
