.row
  .col-md-4
    .panel.panel-blue.inventory_panel
      .panel-heading.inventory_heading
        = fa_icon "fw check"
        Moving Estimator (Android)
      .panel-body
        %p
          To estimate the volume of your stuff when you are moving.
        %a{ href: "https://play.google.com/store/apps/details?id=com.mnishiguchi.android.movingestimator",
          class: "btn btn-default pull-right" , target: '_blank' }
          Learn More
  .col-md-4
    .panel.panel-yellow.inventory_panel
      .panel-heading.inventory_heading
        = fa_icon "fw check"
        Moving Estimator (Web)
      .panel-body
        %p
          A web version of the Moving Estimator.
        %a{ href: movings_path, class: "btn btn-default pull-right" }
          Learn More
  .col-md-4
    .panel.panel-green.inventory_panel
      .panel-heading.inventory_heading
        = fa_icon "fw check"
        Translator Emailer
      .panel-body
        %p
          For my American wife and Japanese mom to communicate each other :)
        %a{ href: "#", class: "btn btn-default under-construction pull-right" }
          Learn More

:coffee
  $('.under-construction').click -> alert 'Under construction.'

  jQuery ->
    evenHeight('.inventory_heading')
    evenHeight('.inventory_panel')

  # Matches the panel heights to the highest.
  evenHeight = (element) ->
    # Creating an array of all the heights
    heights = $(element).map -> $(@).height()
    # Finding the max height
    maxHeight = Math.max.apply(null, heights)
    # Setting all the heights to the highest
    $(element).height maxHeight
