.row
  .col-md-4
    .panel.panel-default.inventory_panel
      .panel-heading.inventory_heading
        %h4
          %i.fa.fa-fw.fa-check
          Moving Estimator (Android)
      .panel-body
        %p
          To estimate the volume of your stuff when you are moving.
        %a{ href: "https://play.google.com/store/apps/details?id=com.mnishiguchi.android.movingestimator",
          class: "btn btn-default" , target: '_blank' }
          Learn More
  .col-md-4
    .panel.panel-default.inventory_panel
      .panel-heading.inventory_heading
        %h4
          %i.fa.fa-fw.fa-check
          Moving Estimator (Web)
      .panel-body
        %p
          A web version of the Moving Estimator.
        %a{ href: "#", class: "btn btn-default under-construction" }
          Learn More
  .col-md-4
    .panel.panel-default.inventory_panel
      .panel-heading.inventory_heading
        %h4
          %i.fa.fa-fw.fa-check
          Translator Emailer
      .panel-body
        %p
          For my American wife and Japanese mom to communicate each other :)
        %a{ href: "#", class: "btn btn-default under-construction" }
          Learn More

:coffee
  $('.under-construction').click -> alert 'Under construction.'

  # Matches the the panel heading heights to the highest one upon document ready.
  jQuery ->
    # Creating an array of all the panel heading heights
    heights = $('.inventory_heading').map -> $(@).height()
    # Finding the max height
    maxHeight = Math.max.apply(null, heights)
    # Setting the max height to all the panels
    $('.inventory_heading').height maxHeight

  # Matches the the panel heights to the highest one upon document ready.
  jQuery ->
    # Creating an array of all the panel heights
    heights = $('.inventory_panel').map -> $(@).height()
    # Finding the max height
    maxHeight = Math.max.apply(null, heights)
    # Setting the max height to all the panels
    $('.inventory_panel').height maxHeight
