-# `provider` is required as a local variable

/ If provided provider is connected, display icon
- connected = current_user.try(:social_profile, provider)
- if connected
  %div{ class: "#{provider}-icon" }
    = fa_icon("fw #{provider}-square")
