-# `provider` is required as a local variable

/ If provided provider is connected, display icon
- connected = current_user.try(:social_profile, provider)
- if connected
  %span{ class: "#{provider}-icon" }
    = link_to fa_icon("fw #{provider}-square"), current_user.social_profile(provider).url
