- provide(:title, "Ingredients editor")

%h1.page-header
  Ingredients
  = link_to "Add new", new_ingredient_path(@ingredient), class: "btn btn-primary btn-sm pull-right"

%ul
  = render @ingredients
