- provide(:title, "Ingredients editor")

%h1.page-header
  Edit ingredients

.well
  #react_ingredient_editor

:coffee

  document.addEventListener "DOMContentLoaded", (_e) ->
    React._initIngredientEditorApp(ingredients: #{ @ingredients })
