- provide(:title, "Ingredients editor")

%h1.page-header Edit ingredients

.well

  #react_ingredient_editor

:coffee

  $(document).ready ->
    React._initIngredientEditorApp(ingredients: #{ @ingredients })
