- provide(:title, "Rooms editor")

%h1.page-header
  Room editor
  = link_to "Add new", new_room_path(@moving), class: "btn btn-primary btn-sm pull-right"

.rooms_editor
  = react_component 'RoomsEditorApp', { data: @rooms }
