- provide(:title, "Rooms editor")

.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8
  %h1.page-header
    Room editor
    = link_to "Add new", new_room_path(@moving), class: "btn btn-primary btn-sm pull-right"

  .rooms_editor
    = react_component 'RoomsEditorApp', { data: @rooms }
