/ .input-group
/   %span.input-group-addon
/     %input{ type: "checkbox" }
/   %input.form-control{ type: 'text', value: todo.content }
/   %span.input-group-addon
/     %div
/       %a Update
/       &nbsp; | &nbsp;
/       %a Cancel
