- provide(:title, "Todos")

%h2.page-header.center Todos
%p Find me in app/views/todos/index.html.haml

.well
  #react_todolist

:coffee

  $(document).on "page:change", ->
    window.loadTodoList(#{@todos})
