%h1 Todos#index
%p Find me in app/views/todos/index.html.haml

.todolist.well
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %a.navbar-brand Todos
        %p.navbar-text 1 item left
      .navbar-left
        .btn-group.navbar-btn{ role:"group" }
          %button.btn.btn-default{ type:"button" } All
          %button.btn.btn-default{ type:"button" } Active
          %button.btn.btn-default{ type:"button" } Completed
      .navbar-right
        .btn-group.navbar-btn{ role:"group" }
          %button.btn.btn-default{ type:"button" } Clear completed

  - @todos.each do |todo|
    = render 'todo', todo: todo
