- provide(:title, "Todos")

%h1.page-header Todos

%ol.breadcrumb
  %li= link_to "Dashboard", root_path, :"data-no-turbolink" => true
  %li.active Todo list

#react_todolist

:coffee

  $(document).ready ->
    React._initTodoApp("react_todolist", todos: #{ @todos })
