/**
 * To override BS navbar's CSS
 */

$header-color:       #113366;
$header-link-color:  #CDE;
$header-hover-color: #FFF;
$gray-medium-light:  #eaeaea;

/* Header */

/* Navbar height */
// .navbar-brand,
// .navbar-nav li a {
//     line-height: 60px;
//     height: 60px;
//     padding-top: 0;
// }

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

/* Navbar colors */
.navbar-inverse {
    background-color: $header-color;
    border-color: #E7E7E7;
}

/* title */
.navbar-inverse .navbar-brand {
    color: $header-link-color;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: $header-hover-color;
}

/* navbar links */

.navbar-inverse .navbar-nav > li > a {
    color: $header-link-color;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: $header-hover-color;
}

// for size xm only
@media (max-width: 768px) {
  .nav.navbar-nav.navbar-left li.dropdown a,
  .nav.navbar-nav.navbar-right li.dropdown a {
    color: $header-link-color;
  }
}

#logo {
  float: left;
  // margin-right: 10px;
  font-size: 2.0em;
  color: $header-link-color;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: $header-hover-color;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  clear: both;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
