$gray-medium-light: #eaeaea;

/* Header */

/* Navbar height */
.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

/* Navbar colors */
.navbar-inverse {
    background-color: #113366;
    border-color: #E7E7E7;
}
/* title */
// .navbar-inverse .navbar-brand {
//     color: #CDE;
// }
// .navbar-inverse .navbar-brand:hover,
// .navbar-inverse .navbar-brand:focus {
//     color: #FFF;
// }
/* navbar links */
.navbar-inverse .navbar-nav > li > a {
    color: #CDE;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #FFF;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.5em;
  color: #CDE;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: #FFF;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  clear: both;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
