@mixin text-overflow($maxwidth) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: $maxwidth;
}

#people_cards {

  .filter_wrapper {
    padding: 5px 15px;
    margin-bottom: 20px;
  }

  .pagination {
    height: 36px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 7px;
  }

  .cards_wrapper {
    margin-top: 10px;
  }

  .person_card {
    li { font-size: 1.0em; }
  }

  .avatar-wrapper{
    .center { margin-top: 5px;}
    .delete { color: white; }
  }

  h4 {
    font-size: 1.5em;
    display: inline-block;
    @media(min-width:768px) {@include text-overflow(260px);}  // sm
    @media(min-width:992px) {@include text-overflow(350px);}  // md
    @media(min-width:1200px) {@include text-overflow(260px);} // lg
  }

  .person_sentence {
    font-size: 1.1em;
    height: 48px;
    display: inline-block;
    @media(min-width:768px) {@include text-overflow(650px);}  // sm
    @media(min-width:992px) {@include text-overflow(420px);}  // md
    @media(min-width:1200px) {@include text-overflow(330px);} // lg
  }

  .contact_info {
    li {
      margin-top: 10px;
    }
  }
}

// Note: We use the ID masonry-container in order to ensure against conflicts with other "plugins".
// Twitter Bootstrap, for example, reserves the class names container and container-fluid
// for particular (container) layouts.

// #masonry-container-people {
//   background: #FFF;
//   padding: 5px;
//   margin-bottom: 20px;
//   border-radius: 5px;
//   clear: both;
//   -webkit-border-radius: 5px;
//      -moz-border-radius: 5px;
//           border-radius: 5px;
// }

// .clearfix:before, .clearfix:after { content: ""; display: table; }
// .clearfix:after { clear: both; }
// .clearfix { zoom: 1; }

// // Configuring the different brick sizes:

// .col1 { width: 80px; }
// .col2 { width: 180px; }
// .col3 { width: 280px; }
// .col4 { width: 380px; }
// .col5 { width: 480px; }

// .col1 img { max-width: 80px; }
// .col2 img { max-width: 180px; }
// .col3 img { max-width: 280px; }
// .col4 img { max-width: 380px; }
// .col5 img { max-width: 480px; }
