@mixin text-overflow($maxwidth) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: $maxwidth;
}

#people_cards {

  .filter_wrapper {
    padding: 5px 15px;
    margin-bottom: 20px;
  }

  .pagination {
    height: 36px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 7px;
  }

  .cards_wrapper {
    margin-top: 10px;
  }

  .person_card {
    li { font-size: 1.0em; }
  }

  .avatar-wrapper{
    .center { margin-top: 5px;}
    .delete { color: white; }
  }

  h4 {
    font-size: 1.5em;
    display: inline-block;
    @media(min-width:768px) {@include text-overflow(260px);}  // sm
    @media(min-width:992px) {@include text-overflow(350px);}  // md
    @media(min-width:1200px) {@include text-overflow(260px);} // lg
  }

  .person_sentence {
    font-size: 1.1em;
    height: 48px;
    display: inline-block;
    @media(min-width:768px) {@include text-overflow(650px);}  // sm
    @media(min-width:992px) {@include text-overflow(420px);}  // md
    @media(min-width:1200px) {@include text-overflow(330px);} // lg
  }

  .contact_info {
    li {
      margin-top: 10px;
    }
  }
}
