// #todolist_wrapper {
//   padding: 2em;
//   background-color: #f5f5f5;
//   border: 1px solid #e3e3e3;
//   border-radius: 4px;
// }

#add_form {
  margin-top: 15px;
}

#filter_buttons {
  margin-bottom: 15px;
}

#todo_items_wrapper {
  clear: both;
  margin-top: 30px;
}
