#page-wrapper
  .container-fluid
    / Page Heading
    .row
      .col-lg-12
        %h1.page-header
          Dashboard
          %small Statistics Overview
    .row
      .col-lg-12
        = render 'layouts/flash_message'
        .alert.alert-info.alert-dismissable
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
          %i.fa.fa-info-circle
          %strong Like it?
          Try out
          %a.alert-link{ href: "#" } SBA 2
          for additional features!

    = render 'sb_admin_2/colorful_panels'

    .row
      .col-lg-6
        = render 'sb_admin_2/tasks_panel'
      .col-lg-6
        = render 'sb_admin_2/transactions_panel'
