#wrapper
  / Navigation
  %nav.navbar.navbar-default.navbar-static-top{role: "navigation", style: "margin-bottom: 0"}
    = render 'sb_admin_2/navbar_header'
    = render 'sb_admin_2/navbar_sidebar'
  / Contents
  = render 'sb_admin_2/page_contents'
