-# Devise-specific flash messages: notice, alert
-# Bootstrap:                      success, info, warning, danger
- flash.each do |type, message|
  - type = :success if notice
  - type = :danger  if alert
  %div{ class:["alert", "alert-#{type}"] }
    = message
