%nav.navbar.navbar-inverse.navbar-static-top
  .container
    = link_to "MovingEstimator", root_path, id: 'logo', class: 'navbar-brand'

    .navbar-header
      / Hamburger button
      %button{ type: 'button', class: 'navbar-toggle collapsed',
        data: { toggle: 'collapse', target: '#hamburger-navigation' } }
        %span.sr-only Navigation toggle
        - 3.times do
          %span.icon-bar

    / Nav links
    %nav.collapse.navbar-collapse#hamburger-navigation
      / Left
      .nav.navbar-nav.navbar-left
        = render 'layouts/navbar_menu_left'

      / Right
      .nav.navbar-nav.navbar-right
        = render 'layouts/navbar_menu_right'
