.navbar-default.sidebar{role: "navigation", style: "margin-top: 0"}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav
      / Search form
      / %li.sidebar-search
      /   .input-group.custom-search-form
      /     %input.form-control{:placeholder => "Search...", :type => "text"}/
      /     %span.input-group-btn
      /       %button.btn.btn-default{:type => "button"}
      /         %i.fa.fa-search

      %li
        %a{ href: "#" }
          %i.fa.fa-dashboard.fa-fw
          Dashboard
      %li
        %a{ href: "#" }
          %i.fa.fa-bar-chart-o.fa-fw
          Charts
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            %a{ href: "#" } Charts
          %li
            %a{ href: "#" } Charts

      %li
        %a{ href: "#" }
          %i.fa.fa-table.fa-fw
          Tables
      %li
        %a{ href: "#" }
          %i.fa.fa-edit.fa-fw
          Forms
      %li
        %a{ href: "#" }
          %i.fa.fa-wrench.fa-fw
          UI Elements
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            %a{ href: "#" } Item
          %li
            %a{ href: "#" } Item
          %li
            %a{ href: "#" } Item
          %li
            %a{ href: "#" } Item

      %li
        %a{ href: "#" }
          %i.fa.fa-sitemap.fa-fw
          Multi-Level Dropdown
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            %a{ href: "#" } Second Level Item
          %li
            %a{ href: "#" } Second Level Item
          %li
            %a{ href: "#" }
              Third Level
              %span.fa.arrow
            %ul.nav.nav-third-level
              %li
                %a{ href: "#" } Third Level Item
              %li
                %a{ href: "#" } Third Level Item

      %li
        %a{ href: "#" }
          %i.fa.fa-files-o.fa-fw
          Sample Pages
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            %a{ href: "#" } Blank Page
          %li
            %a{ href: "#" } Login Page
