%p.panel.bootstrap_screen_size
  Bootstrap Screen Size
  %span.label.label-info.visible-lg Large
  %span.label.label-info.visible-md Medium
  %span.label.label-info.visible-sm Small
  %span.label.label-info.visible-xs Extra Small
  %span.label.label-info.visible-print Print
