.well.screen_size.hidden-print
  Screen Size:
  .visible-lg.hidden-print
    %strong Large
  .visible-md.hidden-print
    %strong Medium
  .visible-sm.hidden-print
    %strong Small
  .visible-xs.hidden-print
    %strong Extra Small
